*{
	font-family:"Times New Roman",Georgia,Serif;

}
/******************** header **************/
/******************** top header **************/

#top-header{
	height:180px;
}
body {
background: url(../sandpaper.png);
}
#top-header #content{
	margin: 0;
	width: 100%;
	max-height:180px;
}
#content > div > div.col-sm-4{
	height:180px;
	//background:black;
}
/******************** nav **************/
#nav-logo{
width: 64px;
height: 80px;
background: white;
position: absolute;
top: -4px;
border-radius: 0 0 10px 10px;
left: 6px;
color: black;
display: none;
font-weight: bold;
}
#nav-logo:hover{
text-decoration:none;
height:90px;
}
#nav-logo:hover img{
padding-top:10px;
}
#nav-logo img{
position: relative;
top: 20px;
}
.sticky #nav-logo{
	display:block !important;
}
.navbar-nav{
	margin-left:30px !important;
}
.nav-left li{
	//border-right:1px solid gray;
	height: 55px;

}
.nav-left li:hover{
	
	border-bottom:thick solid orange;
}
.nav-left .active{
	border-bottom:thick solid orange;
}
.nav-left .first{
	//border-left:1px solid gray;
}
.navbar{
    //background-image: -webkit-linear-gradient(left, rgba(30,30,30,0.4) 0%, rgba(30,30,30,0) 40px,  rgba(30,30,30,0) 60px, rgba(30,30,30,0.4) 100%), -webkit-linear-gradient(top, rgba(130,130,130,1) 0%, rgba(50,50,50,1) 30%, rgba(30,30,30,1) 60%);
    //box-shadow: inset 0 0 0 1px rgba(0,0,0,0.9), inset 0 2px rgba(255,255,255,0.1), inset 0 -2px rgba(255,255,255,0.05), inset 2px 0 rgba(255,255,255,0.07), inset -2px 0 rgba(255,255,255,0.07);
    line-height: 45px;
    text-align: center;
    margin-bottom:0px !important;
    /* border radius override*/
    -webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	border:none !important;

}
.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
} 
.navbar .navbar-inverse .container{
	width:2000px;
}

.navbar .container{
	width:100% !important;
}
.navbar-inverse {
background-color: #585b57 !important;
border-color: #585b57 !important;
background: #585b57 !important;
}
.navbar-inverse .navbar-nav > li{
	margin:0px 15px;
}
.navbar-inverse .navbar-nav > li > a{
	color:white !important;
	font-size:18px;
	text-transform: uppercase;
	font-family: "futura-pt-1","futura-pt-2",sans-serif;

}
.navbar-inverse .navbar-nav > li > a:hover{
	color:orange !important;
}
ul.nav.navbar-nav.navbar-right > li{
height: 55px;
position: relative;
top: -5px;
width:90px;
margin-right: 10px;
text-transform: uppercase;
font-family: "futura-pt-1","futura-pt-2",sans-serif;
}
.contact-info-phone{

	color:white;
	padding-top: 10px;
	//margin-right:10%;
	height:0px;
	width:140px;
	padding-bottom: 0;
	margin-bottom: 0;
}
span.contact-info-phone{
	color:white;
}
span.contact-info-phone i{
	margin-right:10px;
}
.contact-info-phone a{
	font-family: "futura-pt-1","futura-pt-2",sans-serif;
	color:white;
}
.contact-info-phone a:hover{
	text-decoration: none;
	color:orange;
}


.logo{
	margin-top:-1.5em;
	min-height: 120px;
	max-height: 250px;
	position:absolute;
	left:0;
	width:100%;
}
#content{
	//margin-top:260px;
}

/******************** sidebar **************/
.previous-releases-individual ul{
	list-style: none;
	font-size:10px;
}
.previous-releases-individual ul li p{
	margin-bottom: 0;
}
.previous-releases-individual ul li{
	margin-bottom: 10px;
}
.previous-releases-individual ul li a{
	color:orange;
}
time{
	font-weight:bold;
	color:gray;
}
section{
	margin-bottom: 40px;
}
section ol li{
	list-style: none;
}
section ul li{
	list-style: none;
}
section a{
	color:black;
}
section a:hover{
	text-decoration: none;
}
.sidebar-module li{
	margin-left:-3em;
}
.navbar-inverse .navbar-nav > li.visited > a{
	color:orange !important;
	border-bottom:thick solid orange;c
}
/******************** main content **************/
.blog-post p{
	padding-bottom: 10px;
}
.press-release .readmore{
	text-decoration: none;
	color:orange;
}
.blog-post{
	border-bottom:1px solid gray;
}
/******************** footer **************/
.footer{
	background-color:black;
}
.footer td a{
	padding:10px;
	color:white;
}
.footer h3{
	color:white;
}
.footer .col-md-8 p{
	max-width: 500px;
}
.footer p{
	color:gray;
}
.footer .comment{
	margin-left:15px;
}
#contact{
	width:300px;
}
#contact-label{
	width:300px;
}
textarea.form-control,input.form-control{
	width:300px;
}
#quick-contact-form > div:nth-child(5) > div > button {
position: relative;
//left: 60px;
}
.footer .label-padded{
	padding-right:100px;
}
.footer label{

	font-size: 10px;
	text-align: left;
	color:white;
}